body {
  background-image: url('https://cdn.pixabay.com/photo/2021/07/26/21/30/digital-paper-6495242__340.jpg');
}

#card-container {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border-radius: 0.7em;
  border: thin rgb(245, 220, 220) ridge;
  width: 20em;
  height: 30em;
  margin: 7em 35em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  box-shadow: 2px 1px 25px 7px black
}

.image-card {
  min-width: 18em;
  border-radius: 0.3em;
  min-height: 18em;
  margin: 1em 2.5em 0 1em;
  max-height: auto;
  box-shadow: 0px 1px 5px 1px black
}

.signature {
  margin: 1em 0;
  font-style: italic;
  color: grey;
}

.infos-author {
  max-height: 4em;
  width: auto;
  display: flex;
  justify-content: space-around;
  border-top: rgba(58, 128, 0, 0.445) solid;
  border-spacing: 0.01em;
}

.name-author {
  font-weight: bolder;
  color: black;
  font-style: normal;
  margin-left: 0.3em;
}

.gitHub-link {
  text-decoration: none;
  color: whitesmoke;
  margin-top: 1em;

}

.location-infos {
  margin: 0 0.5em;
  border-radius: 3px;
  background: crimson;
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  justify-content: space-around;
}

.title-card {
  text-align: center;
  color: #837f7ae5;
 font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  font-weight: 400;
}

.buttons {
  display: flex;
  border-radius: 2em;
  background: linear-gradient(to right, #794913af, #cc5333);
  justify-content: space-evenly;
  border: thin rgb(252, 249, 249) ridge;
  width: 50em;
  margin-left: 22%;
  top: 10px;
  height: 4em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
}

.buttons button {
  margin-top: 1.5em;
  max-height: 40%;
  border-radius: 7px;
  border: none;
  background-color: #89ca7c;
  color: rgb(27, 21, 21);
  font-weight: bolder;
}
.buttons button:hover{
  background-color: blanchedalmond;
}
/* effects */



.spin {
  animation: spin infinite 5s alternate-reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation infinite 5s alternate-reverse;
}



@keyframes rotation {
  from {
    transform: rotateY(200deg);
    color: bisque;
    background: none;
    box-shadow: 27px -100px 20px 20px rgba(0, 0, 0, 0.774);


  }

  to {


    transform: rotateY(1deg);

  }
}

.flip-3D {
  animation: flip-3D infinite 5s alternate-reverse;
}



@keyframes flip-3D {
  from {
    transform: skewX(180deg);
    transform: skewY(180deg);
    background: none;
    box-shadow: 50px 57px 20px 20px rgba(0, 0, 0, 0.774);

    color: bisque;
  }

  to {
    box-shadow: -50px 70px 20px 20px rgba(0, 0, 0, 0.486);

    transform: skewX(1deg);
    transform: skewY(1deg);

  }


}

.zoom-ot {
  animation: zoom-ot infinite 5s alternate-reverse;
}

@keyframes zoom-ot {
  from {

    transform: scale(0.001);

  }

  to {
    transform: scale(1);


  }
}


.top-moviment {
  animation: top-moviment infinite 5s alternate-reverse;
}

@keyframes top-moviment {
  from {

    transform: translateY(-80em);
    opacity: 0;
    box-shadow: none;


  }

  to {
    transform: translateY(350px);
  }
}

.lateral-movement {
  animation: lateral-movement infinite 10s reverse;
}

@keyframes lateral-movement {
/*   from {
    transform: rotateZ(600deg);
    transform: rotateX(80deg);
    transform: rotateY(800deg);
    color: bisque;
    box-shadow: -500px -57px 20px 20px rgba(0, 0, 0, 0.774);

  }

  to {
    box-shadow: 27px 667px 20px 20px rgba(0, 0, 0, 0.774);
    transform: rotateY(1deg);
    transform: rotateX(1deg);
    transform: rotateZ(-50deg);
  } */
  1% {
    transform: rotateZ(300deg);
    transform: rotateX(40deg);
    transform: rotateY(400deg);
    color: bisque;
    box-shadow: -500px -57px 20px 20px rgba(0, 0, 0, 0.329);

  }
  35%{
    background: none;
  }
  50%{
     transform: rotateZ(150deg);
    transform: rotateX(20deg);
    transform: rotateY(100deg);
    color: bisque;
    
    box-shadow: 550px -7px 20px 20px rgba(0, 0, 0, 0.774);
   

  }
90%{
  transform: rotateY(1deg);
  transform: rotateX(1deg);
  transform: rotateZ(-50deg);
  color: bisque;
  box-shadow: 257px 567px 20px 20px rgba(0, 0, 0, 0.418);
  

}
100%{
  transform: scale(0.5);
}

}

.rotation-y {
  animation: rotation-y infinite 5s alternate-reverse;
}



@keyframes rotation-y {
  from {


    transform: rotateX(200deg);
    background: none;
    box-shadow: 27px -30px 20px 20px rgba(0, 0, 0, 0.774);


  }

  to {
    box-shadow: 27px 667px 20px 20px rgba(0, 0, 0, 0.774);

    transform: rotateX(-1deg);

  }
}